html, body, .image {
  margin: 0px;
  padding: 0px;
  border-sizing: border-box;
}

/* BANNER */
.fs-container {
  width: 100%;
  overflow: hidden;
  height: 400px;
  position: relative;
}

.fastslide {
  position: relative;
}

.image {
  float: left;
}

/* DOTS */

.dots {
  text-align: center;
  display: block;
  margin: 20px 0 60px 0;
}

.dots .ative {
  border: 1px solid transparent;
  background: red;
}

.dot {
  display: inline-block;
  list-style: none;

  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px #333;
}

.dot:hover {
  border: 1px solid #333;
}

/* NEXT E PREV*/

.next, .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 100px;
  color: #FFF;
  opacity: 0.3;
  font-weight: bold;
  cursor: pointer;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

/* INTRO */

.intro {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.item {
  float: left;
  width: 28.333333333%;
  margin: 0 2.5%;
}
